.contact_box{
    padding: 3em 20em;
}

.contact_wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contact_wrapper a{
    text-decoration: none;
}

.contact_card{
    display: flex;
    color: var(--font-color);
    justify-content: center;
    align-items: center;
    font-family: var(--paragraph-font-family);
    font-size: var(--h3-font-size);
    background-color: var(--block-color);
    padding: 0.7em 1.5em;
    margin: 1.5em 1em 0; 
    border-radius: 0.5em;
}

.contact_card p{
    margin-left: 0.8em;
}